body{
    background-image: url(https://png.pngtree.com/background/20220714/original/pngtree-computer-technology-pictures-picture-image_1622224.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#img-perfil{
    width: 150px;
}

#img-stack{
    width: 200px;
}

.bg-primary{
    background-color: #E280ff !important;
}
.btn-primary{
    background-color: #E280ff !important;
}
.btn-primary2{
    background-color: hsl(286, 70%, 65%) !important;
}

.nav-link{
    color: #f8f7f7!important;
}

.text-bg-primary {
    background-color: #9F44D3!important;
}

.titulo-proyecto{
    text-shadow: 2px 5px 30px #000000;
}

#proyecto-1{
    background-image: url('img/página.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-2{
    background-image: url('img/Clon-de-google.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#proyecto-3{
    background-image: url('img/DEMAPP.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#proyecto-4{
    background-image: url('img/Servicios-generales.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#proyecto-5{
    background-image: url('img/SISMACO.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#proyecto-6{
    background-image: url('img/Inicio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
.icono{
    width: 50px;
}
.icono {
    font-size: 2rem;
    color: white;
    margin: 12px;
}